$primaryColor: black;
$effectColor: red;
$saleColor: crimson;
$authorColor: grey;
$pageColor: #ffffff;
$infColor: #0B7B39;
$border-b: gray;
$btn-buy: #FFC705;

//bg_profile-sign-member
$bg-1: #2980b9;
$bg-2: #8e44ad;

//member
$textColor: #fff;
$pri-memberColor: #ef717a;
$inf-memberColor: #373737;
$taxColor: #A7A5A5;