body {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(120deg, $bg-1, $bg-2);
    overflow: hidden;
    height: 100vh;
}

@import "flex";
@import "mixin";
@import "style-color";

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    width: 400px;

    h1 {
        text-align: center;
        padding: 20px 0 20px 0;
        border-bottom: 1px solid silver;
    }

    form {
        padding: 0 40px;
        box-sizing: border-box;

        .txt-field {
            position: relative;
            border-bottom: 2px solid #adadad;
            margin: 30px 0;

            input {
                @include width-height(100%, 40px);
                padding: 0 5px;
                border: none;
                background: none;
                outline: none;
                font-size: 17px;
            }

            label {
                position: absolute;
                top: 50%;
                left: 5px;
                color: #adadad;
                transform: translateY(-50%);
                pointer-events: none;
                transition: 0.5s;
            }

            span::before {
                content: '';
                position: absolute;
                top: 40px;
                left: 0;
                width: 0%;
                height: 2px;
                background: $bg-1;
                transition: 0.5s;
            }

            input:focus~label,
            input:valid~label {
                top: -5px;
                color: $bg-1;
                font-weight: 600;
            }

            input:focus~span::before,
            input:valid~span::before {
                width: 100%;
            }
        }

        .pass {
            margin: -5px 0 20px 5px;

            a {
                color: #666666;
            }

            width: 130px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        input[type="submit"] {
            @include width-height(100%, 50px);
            border: 1px solid;
            background: $bg-1;
            border-radius: 25px;
            font-size: 18px;
            color: $pageColor;
            font-weight: 700;
            cursor: pointer;
            outline: none;

            &:hover {
                border-color: $bg-1;
                transition: 0.5s;
            }
        }

        .sign-up-link {
            margin: 30px 0;
            text-align: center;
            color: #666666;

            a {
                color: $bg-1;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}